@use '../../styles/breakpoints.module.scss' as brackpoints;
$border-color: #aeaeae;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto 60px;
  width: 100%;
  height: calc(100vh - env(safe-area-inset-top));
  @include brackpoints.tablet {
    grid-template-columns: 30% 1fr;
    grid-template-rows: initial;
  }
};

.verbs{
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  border: 1px solid $border-color;
  border-bottom-color: transparent;
  background-color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  border-top: 1px solid $border-color;
  padding: 5px 10px;
  @include brackpoints.tablet {
    padding: 20px;
    grid-column: 1/3;
  }
}
