@use '../../styles/breakpoints.module.scss' as brackpoints;

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  grid-column: 1/2;
  background: #ffffff;
  @include brackpoints.tablet {
    grid-column: 1/3;
  }
}
