@use '../../../styles/breakpoints.module.scss' as brackpoints;

.title {
  font-size: 20px;
  margin: 20px 0 0;
}

.answer {
  font-size: 48px;
  font-weight: 800;
  margin: 20px 0 0 0;
}

.icon {
  font-size: 122px;
  @include brackpoints.tablet {
    font-size: 96px!important;
  }
}
