.list {
  padding: 0;
  list-style: none;
}

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  &__group {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.label-lvl2 {
  &__group {
    padding: 0!important;
  }
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.group {
  column-count: 2;
}

.wrap {
  padding: 0 20px;
}

.control {
  padding: 0;
  margin: 0;
}
