.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 64px;
  font-weight: 500;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.group {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.verb {
  margin: 0 30px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.btn {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  max-width: 250px;
  &__offset {
    margin: 0 20px;
  }
}
